<app-main-layout>
  <div class="max-w-30rem m-auto my-8">
    <div class="flex flex-column gap-2">
      <label for="username">Username</label>
      <input
        pInputText
        id="username"
        aria-describedby="username-help"
        [(ngModel)]="value"
      />
      <small id="username-help">
        Enter your username to reset your password.
      </small>
    </div>
    <div class="flex flex-column gap-2 mt-4">
      <label for="email">E-mail</label>
      <input
        pInputText
        id="email"
        aria-describedby="email-help"
        [(ngModel)]="value"
      />
      <small id="email-help"> Enter your e-mail to reset your password. </small>
    </div>
    <p-button
      routerLink="/dashboard"
      label="Login"
      styleClass="mt-4 w-full"
    ></p-button>
  </div>
</app-main-layout>
